<div id="<%= dom_id heading_state %>">
  <ul class="list-unstyled">
    <li>
      <strong>Name:</strong>
      <strong><span style="color: <%= heading_state.color %>"><%= heading_state.name %></span></strong>
    </li>

    <li>
      <strong>Done:</strong>
      <%= heading_state.done %>
    </li>
  </ul>
</div>
