<div id="<%= dom_id heading_state %>">
  <p>
    <strong>Name:</strong>
    <strong><span style="color: <%= heading_state.color %>"><%= heading_state.name %></span></strong>
  </p>

  <p>
    <strong>Done:</strong>
    <%= heading_state.done %>
  </p>

</div>
