<h1>Editing heading state</h1>

<%= render "form", heading_state: @heading_state %>

<br>

<div>
  <%= link_to "Show this heading state", @heading_state %> |
  <%= link_to "Back to heading states", heading_states_path %>
</div>
