<ul>
  <% notebooks.each do |notebook| %>
    <li>
      <%= link_to notebook.title, notebook %>
      <%= link_to '<i class="bi bi-pencil"></i>'.html_safe, edit_notebook_path(notebook) %>
      <%= button_to '<i class="bi bi-x-lg"></i>'.html_safe, notebook, method: :delete,
         class: "text-danger", style: "border: none; background: none",
         form: { style: "display: inline",
           data: { turbo_confirm: "Delete heading \"#{notebook.title}\" and all its headings?"
         }}
      %>
    </li>
  <% end %>
</ul>
<div>
  <%= link_to "New notebook", new_notebook_path %>
</div>
