<p style="color: green"><%= notice %></p>

<h1>Notebooks</h1>

<%= turbo_frame_tag "notebooks" do %>
  <% @notebooks.each do |notebook| %>
    <%= link_to notebook.title, notebook %>
  <% end %>
  <div>
    <%= link_to "New notebook", new_notebook_path %>
  </div>
<% end %>

