<%= form_for :login, url: login_path, method: :post do |form| %>
  <div class="row mb-4">
    <div class="col text-center">
      <h2>Welcome back!</h2>
    </div>
  </div>
  <div class="row gy-2">
    <div class="col-12 col-md">
      <%= form.text_field :username, placeholder: "Username", class: "form-control", autofocus: true %>
    </div>
    <div class="col-12 col-md">
      <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>
    <div class="col-12 col-md-auto">
      <%= form.submit "Login", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
