<h1>Editing heading</h1>

<%= render "form", heading: @heading, parent_id: nil %>

<br>

<div>
  <%= link_to "Show this heading", @heading %> |
  <%= link_to "Back to headings", headings_path %>
</div>
