<h1>Editing heading</h1>

<turbo-frame id="<%= dom_id @heading %>">
  <%= render "form", heading: @heading, parent_id: @heading.parent.nil? ? nil : @heading.parent.id %>
</turbo-frame>

<br>

<div>
  <%= link_to "Show this heading", @heading %> |
  <%= link_to "Back to headings", headings_path %>
</div>
