<h1>Home</h1>

<div class="row" data-controller="home">
  <div class="col" data-home-target="headings">
    <%= turbo_frame_tag "headings", src: headings_path %>
  </div>
  <div class="col-auto" data-home-target="agenda">
    <%= turbo_frame_tag "agenda", src: agenda_path %>
  </div>
</div>
