<%= render @user %>

<div class="row">
  <div class="col">
    <div class="row gx-2">
      <div class="col-auto">
        <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
      </div>
      <% if admin? %>
        <div class="col">
          <%= link_to "Back to users", users_path, class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-auto">
    <%= button_to "Delete account", @user, method: :delete, class: "btn btn-outline-danger", form: { data: { turbo_confirm: "Delete user #{@user.username}?" } } %>
  </div>
</div>
