<div class="row">
  <div class="col">
    <h1>Home</h1>
  </div>
</div>

<div class="row" data-controller="home">
  <div class="col-12 col-lg" data-home-target="headings">
    <%= turbo_frame_tag "notebooks" do %>
      <%= render "notebooks/notebooks_index", notebooks: @notebooks %>
    <% end %>
  </div>
  <div class="agenda-bar col-12 col-lg-auto order-first order-lg-last border-start bg-light" data-home-target="agenda">
    <%= turbo_frame_tag "agenda", src: agenda_path do %>
      <%= render "headings/agenda", agenda_dates: @agenda_dates %>
    <% end %>
  </div>
</div>
