<%= turbo_frame_tag heading_property do %>
  <tr>
    <td class="font-monospace ps-0"><%= heading_property.key.upcase %></td>
    <td class="font-monospace ps-2"><%= heading_property.value %></td>
    <td></td>
  </tr>
<% end %>
